.listItem__room-list {
    width: 30%;
    margin: 0 10px;
    /* border: 1px solid #ccc; */
    margin-bottom: 10px;
    padding-bottom: 10px;
    background-color: #f5f5f5;
    border-radius: 10px;
    list-style: none;
}
.listItem__room-list img {
    width: 100%;
    margin-bottom: 15px;
    border-radius: 10px;
}

.listItem__room-info {
    margin: 0 5px 0 10px;
    display: flex;
    flex-direction: column;
    color: black;
}
.listItem__room-info_title {
    font-size: 20px;
} 
.listItem__room-info_price {
    display: block;
}
.listItem__room-info_city {
    display: inline;
}
